body {
    overflow: hidden;
    background-color: #111;
}

.player {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.15s;
    position: absolute;
    z-index: 10;

    height: 120px;
    width: 100px;
}

.avenger {
    background-image: url('images/avenger.png');
    z-index: 11;
}

.gladius {
    background-image: url('images/gladius.png');
}